body {
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

header {
    background-color: #161616;
    width: 1200px;
    height: 630px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;

}

#header-left {
    margin-left: 90px;
}

#header-left h1 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin: 0;
    height: 90px;
}


#header-left p {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 506px;
    height: 110px;
    margin: 30px 0;

}

#header-left a {
    background-color: #E95424;
    color: #FFFFFF;
    width: 187px;
    height: 56px;
    padding: 16px 25px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    border-color: transparent;
}

#header-left a:hover {
    color: #E95424;
    background-color: #FFFFFF;
}

#header-image {
    height: 100%;
    padding-top: 120px;
}


#header-image img {
    max-width: 700px;
}

/* main styles */

#main {
    width: 1285px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px; */
}

/* sidebar styles */

aside {
    background-color: #161616;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
}

aside div {
    width: 252px;
    height: 64px;
    background-color: #ffffff;
    margin: 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside div a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #161616;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em 2em;
    margin: -2em;
}

.active-button {
    background-color: #E95424;
}

.active-button a {
    color: #FFFFFF;
}

/* Match details box */

.upcoming-match {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    width: 875px;
    margin-left: 0;

}

.match-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E8E8;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 275px;
    height: 220px;
    /* width: 290px;
    height: 242px; */

}

.flags {
    display: flex;
    margin-top: 0;
    align-items: center;
}

.flags img {
    padding: 10px;
}

.flags p {
    font-weight: 700;
    font-size: 16px;
}

.country-name {
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0;
}

.match-date {
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0;
}

/* blogs  */

.blogs-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    width: 875px;
    margin-left: 0;
}

.blog-box {
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 350px;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 12px;
}

.blog-box img {
    max-width: 100%;
}



.blog-box p {
    font-weight: 600;
    font-size: 18px;
    margin-left: 25px;
}

.blog-category {
    width: 100px;
    height: 28px;
    text-align: center;
    color: #161616;
    background-color: #FFFFFF;
    border: 1px solid #161616;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    margin-left: 25px;
}

.blog-box i {
    color: #5e5e5e;
}

.blog-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
}
#view-all {
    display: none;
}

/* footer */

footer {
    margin-top: 130px;
    width: 100%;
    height: 230px;
    background: #161616;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h1 {
    letter-spacing: 5px;
    width: 855px;
    text-align: center;
}

footer h1 a {

    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    text-decoration: none;
}

footer li {
    display: inline;
    list-style: none;
    padding: 0 15px;

}

footer ul a,
footer i {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}

#social-icon {
    margin-top: 10px;

}

footer i {
    padding: 5px;
}


/* ---------Media Queries------------  */

/* Tablet View  */

@media screen and (max-width: 992px) {

    body {
        background-color: #FFFFFF;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        
    }

    header {
        width: 734px;
        height: 398px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
        margin-top: 30px;
        padding-bottom: 20px;

    }

    #header-left {
        margin-left: 50px;
    }

    #header-left h1 {
        font-weight: 700;
        font-size: 40px;
        margin: 0;
        height: 50px;
    }

    #header-left p {
        font-weight: 400;
        font-size: 14px;
        width: 300px;
        height: 115px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #header-left a {
        padding: 10px 18px;
        
    }


    #header-image img {
        width: 360px;
        margin-right: 30px;
    }

/* main tablet  */

 #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
 }
    aside {
        width: 734px;
        height: 100px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    
    }
    aside div {
        width: 200px;
        margin: 5px 5px;
        border: 1px solid #d3d3d3;
    }
    .active-button {
        border: none;
    }

    .upcoming-match {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    width: 745px;    
    justify-items: center;
    margin-top: 20px;
    }

    .match-box{
    width: 355px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E8E8;
    }

    /* blogs tablet */

.blogs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    width: 745px;
    justify-items: center;
    margin-top: 20px;
}

.blog-box {
    display: flex;
    flex-direction: column;
    width: 355px;
    height: 375px;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 12px;
}

#view-all {
    display: block;
    margin-top: 30px;
    background-color: #E95424;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
font-size: 20px;
font-family: 'Poppins', sans-serif;
}

/* footer  */

    footer {
    margin-top: 100px;
    width: 100%;
    height: 260px;
    background: #161616;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    footer h1 {
        letter-spacing: 5px;
        width: 100%;
        text-align: center;
    }
    footer ul {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }

    footer li {
        display: inline;
        list-style: none;
        padding: 0 25px;
    
    }

}


/* Mobile view  */

@media screen and (max-width: 480px) {

    body {
        background-color: #ffffff;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    header {
        width: 320px;
        height: 580px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-left:auto;
        margin-right:auto;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-bottom: 20px;

    }

    #header-left {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header-left h1 {
        font-weight: 700;
        font-size: 32px;
        margin: 0;
        height: auto;
        text-align: center;
    }

    #header-left p {
        font-weight: 400;
        font-size: 14px;
        width: 258px;
        height: 48px;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    #header-left a {
        padding: 10px 10px;
        text-align: center;
        height: 30px;
        margin-top: 75px;
        
    }

    #header-image {
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        height: 150px;
    }

    #header-image img {
        width: 233px;
        margin: 0;
    }

    #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 320px;
    }

    aside {
        width: 320px;
        height: 75%;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 10px 0;
    
    }

    aside div {
        width: 200px;
        padding: 5px 5px;
        border: 1px solid #d3d3d3;
    }

    .active-button {
        border: none;
    }

    .upcoming-match {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        column-gap: 10px;
        width: 100%;    
        justify-items: center;
        margin-top: 20px;
        }

        .match-box{
            width: 320px;
            height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid #E8E8E8;
            }

     /* blogs mobile*/

     .blogs-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        column-gap: 10px;
        width: 320px;
        justify-items: center;
        margin-top: 20px;
    }

    .blog-box {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 375px;
        background-color: #FFFFFF;
        border: 1px solid #cccccc;
        border-radius: 12px;
    }

    #view-all {
        display: none;
    }

/* footer mobile  */

footer {
    margin-top: 50px;
    width: 100%;
    height: 350px;
    background: #161616;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h1 {
    letter-spacing: 2px;
    height: auto;
    width: auto;
    text-align: center;
}

footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0px;
    margin: 0;
}

footer ul li {
    margin-top: 5px;
}

#social-icon {
    margin: 15px 0;
}

}